# Created by .ignore support plugin (hsz.mobi)

.vscode
.idea
cmake-build-debug
*.in
*.out
build

exam/bfs/*
!exam/bfs/*.cc
exam/dp/*
!exam/dp/*.cc
exam/union/*
!exam/union/*.cc
exam/merge_sort/*
!exam/merge_sort/*.cc
exam/string_hash/*
!exam/string_hash/*.cc
acw/union/*
!acw/union/*.cc
game/**/*
!game/**/*.cc

luogu/**/*
!luogu/**/*.cc
tempCodeRunnerFile.cc
tempCodeRunnerFile.cpp
tempCodeRunnerFile