# Created by .ignore support plugin (hsz.mobi)

.vscode
.idea
cmake-build-debug
*.in
*.out
build

exam/bfs/*
!exam/bfs/*.cc
exam/dp/*
!exam/dp/*.cc
exam/union/*
!exam/union/*.cc
acw/union/*
!acw/union/*.cc
luogu/**/*
!luogu/**/*.cc
tempCodeRunnerFile.cc
